<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>{{info.header}}</h3>
    <p>{{info.text}}</p>
    <a class="cta-btn" href="{{info.link}}">{{info.btn}}</a>
  </div>
</section><!-- #call-to-action -->
