<!--==========================
  Facts Section
============================-->
<section id="facts"  class="wow fadeIn">
  <div class="container">

    <header class="section-header">
      <h3>Stats</h3>
      <p>Ascension Millionaires Club joins investors with a <strong style="color: #c62f1f;">global</strong> network of professionally vetted companies.</p>
    </header>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">1000</span><span> +</span>
        <p>Investors</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">3</span>
        <p>Countries Around The globe</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">100</span><span> +</span>
        <p>Events A Year</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">1</span>
        <p>Vision</p>
      </div>

    </div>

    <!-- <div class="facts-img">
      <img src="public/img/facts-img.png" alt="" class="img-fluid">
    </div> -->

  </div>
</section> <!-- #facts -->
