<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container">

    <header class="section-header wow fadeInUp">
      <h3>Insider Look</i></h3>
      <p>We’ve been building solid, trustworthy relationships for over 20 years. <strong style="color: #c62f1f;">It’s what we do!</strong><br>When you join Ascension Millionaires Club you gain immediate access to a global network of accredited investors and financial insiders.</p>
    </header>

    <div class="row">

      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-people-outline"></i></div>
        <h4 class="title">Who we are</h4>
        <p class="description">An exclusive group with alliances and affiliates around the world.</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
        <h4 class="title">What we do</h4>
        <p class="description">We target elible companies at seed level and provide our members exposure to small-cap Canadian, US and European trade markets.</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
        <h4 class="title">Philosophy</h4>
        <p class="description">We work best as a team, knowing that just as exciting as a 7-figure net worth is the journey along the way.</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
        <h4 class="title">Why Ascension Millionaires Club</h4>
        <p class="description">Get first access to Private Placement Opportunities and direct access to CEOs and trade insiders at our many exclusive events and private parties.</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
        <h4 class="title">Membership Perks</h4>
        <!-- <p class="description"> -->
          <ul class="description" style="margin-left: 33px; min-width: 100%">
              <li>Inside scoop to upcoming small-cap all stars</li>
              <li>Early stage investment opportunities</li>
              <li>Personal introductions to business executives</li>
              <li>Pre-IPO and IPO Financings</li>
          </ul>
        <!-- </p> -->
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-people-outline"></i></div>
        <h4 class="title">How to join</h4>
        <p class="description">We work best in person. Tell us a little bit about yourself <a href="#contact">below</a> and we’ll put you on track to becoming an Ascension Millionaire!</p>
      </div>

    </div>

  </div>
</section><!-- #services -->
