<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left col-md-2">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="scrollto"><img src="/public/img/ASCENSION_header.png" alt="" title="" /></a>
    </div>

    <nav id="nav-menu-container" class="col-md-10">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li class="menu-has-children"><a href="/about">About Us</a>
          <ul>
            <li><a href="/team">Meet the team</a></li>
            <li><a href="/services">Ascend with us</a></li>
          </ul>
        </li>
        <!-- <li><a href="#services">Services</a></li> -->
        <!-- <li><a href="#portfolio">Portfolio</a></li> -->
        <li><a href="ascensionir.com/team">Team</a></li>
        <li><a href="#blog">Blog</a></li>
        <!-- <li class="menu-has-children"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li> -->
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  About Us Section
============================-->

<main id="main">
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </header>

      <div class="row about-cols">
        <div class="col-md-4 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="public/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <img src="public/img/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
        </div>

        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="about-col">
            <div class="img">
              <img src="public/img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #about -->
</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-info">
        <img src="/public/img/ASCENSION_header.png" alt="" title="" />
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit"  value="Subscribe">
          </form>
        </div>

        <!--
        <div class="col-lg-3 col-md-6 footer-info">
          <img src="img/ASCENSION_header.png" alt="" title="" />
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit"  value="Subscribe">
          </form>
        </div> -->

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong style="color: #c62f1f;">Ascencion</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Made with 💪🏽 in Vancouver
    </div>
  </div>
</footer><!-- #footer -->
