<section id="intro" class="banner">
  <div class="intro-container">
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-background"><img src="{{imgUrl}}" alt=""></div>
        </div>
      </div> <!-- .carousel-inner -->
    </div> <!-- .carousel -->
  </div> <!-- .intro-container -->
</section>
