<img src="{{imgUrl}}" class="section-banner img-fluid">
<div class="section-banner-overlay-wrap">
  <div class="section-banner-overlay" style="opacity: 0.5; background-color: #000000;"></div>
</div> <!-- .section-banner-overlay-wrap -->
