<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ascension Millionaires Club Inc.</h1>
      <div id="logo" class="col-md-8 col-md-offset-2">
        <img style="width: 35%;" src="assets/img/ASCENSION_header.png" alt="" title="" />
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h2 class="subtitle">It's about time we renovated. Unlock our new portal in</h2>
      </div>
      <div id="countdown" class="col-md-12 col-md-offset-2"></div>

      <div class="social col-md-8 col-md-offset-2">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div> <!-- col-md-12 -->
  </div> <!-- row -->

  <div class="row info">
    <div class="col-lg-6 col-lg-offset-3">
      <p class="copyright">&copy; House of Ascension - All Rights Reserved</p>

    </div>
  </div>
</div>
